body, html {
  padding: 0;
    margin:0;
    height:100%;
    width:100%

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #7a97e8;
}

div{
    background-color: #7a97e8;
    height: 200px;
    width:300px;
}